#label1{
font-size: 100px;
text-align:center;
color:rgb(198, 15, 119)
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;


}


#label2{
font-size:100px




}

#background{

background-image:url(https://thumbs.dreamstime.com/b/letter-u-n-un-logo-design-template-minimal-monogram-initial-based-logotype-trendy-company-identity-313923976.jpg);

background-repeat:no-repeat;
background-position:auto;

}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
  